/* line 1, ../sass/css.scss */
#copyright {
  background: #3f3f3f;
  color: #fff;
  padding: 11px 0;
  margin-top: 30px;
}

/* line 8, ../sass/css.scss */
#copyright a {
  color: #fff;
  font-size: 14px;
}

/* line 14, ../sass/css.scss */
#copyright p,
#copyright ul {
  margin-bottom: 0;
}
